<!DOCTYPE html>
<html>

<head>
  <title>HOME</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <style>
    body,
    h1 {
      font-family: "Raleway", sans-serif
    }

    body,
    html {
      height: 100%
    }

    .bgimg {
      background-image: url('images/forestbridge.jpg');
      min-height: 100%;
      background-position: center;
      background-size: cover;
    }
  </style>
</head>

<body>
  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
      Home
    </div>
    <div class="w3-display-middle">
      <div id="jumbotron">
        <script>
          var slideIndex = 1;
          showDivs(slideIndex);

          function plusDivs(n) {
            showDivs(slideIndex += n);
          }

          function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("jumboSlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length };
            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
          }
        </script>
        <img class="jumboSlides" src="blackfriday_banner.jpg">
        <img class="jumboSlides" src="ransom_banner.jpg">
        <img class="jumboSlides" src="writeups_banner.jpg">
        <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
      </div>
      <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center">35 days left</p>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
      Powered by <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank">uac.pt</a>
    </div>
  </div>

</body>

</html>